:root {
  /* fonts */
  --main-font: "Roboto";
  --secondary-font: "Raleway";
  /* text-colors */
  --brand-color: #2196f3;
  --main-textcolor: #757575;
  --header-textcolor: #212121;
  --footer-placeholder-clr: rgba(255, 255, 255, 0.6);
  /* bg-colors */
  --main-bgcolor: #e5e5e5;
  --secondary-bgcolor: #2f303a;
  --add-color: #f5f4fa;
  --about-overlay-bg: rgba(47, 48, 58, 0.8);
  /* others */
  --white-clr: #ffffff;
  --items: 3;
  --indent: 30px;
  --borderclr: #eeeeee;
  --border-head-clr: #ececec;
  --brdr-logo-clients: #afb1b8;
  --transition-timing-func: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  font-family: --secondary-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: --brand-color;
  margin-right: 93px;
  padding: 16px 0 16px 0;
  border: solid 1px blue;
}

.logo__main-clr {
  color: --header-textcolor;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu__container {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 300px;
  border: solid 1px green;
  margin: 30px;
}

.menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__item {
  border: solid 1px red;
  height: 150px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
.menu__item:not(:last-child) {
  margin-right: 50px;
}
.contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.menu__link {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}
